{% extends 'base.html' %}
{% load static %}
{% block title %}- {{this_user.tag}} chat{% endblock %}

{% block head %}
<style>
    #onlineUsersSelector {
        height: 300px;
    }
</style>
{% endblock %}
{% block content %}
<div class="flex justify-center">
    <div class="w-8/12 h-fit">
        <h2 class="pt-5">
            <a href="{% url 'photo:photo_list_user' user_tag=opponent.tag%}" class="w-fit flex items-center text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                <img class="w-10 h-10 object-cover rounded-full p-1" src="{{ opponent.profile_pic.url }}">
                {{ opponent.name }}
            </a>
        </h2>

        <div class="mb-2">
            <label for="chatLog"></label>
            <div class="w-full h-80 overflow-y-auto bg-white">
                <ul id="chatLog" class="my-4 space-y-3">

                </ul>
            </div>
        </div>
        <div class="w-full flex items-center">
            <input type="text" class="border inline-block w-5/6" id="chatMessageInput" placeholder="Enter your chat message">
            <div class="w-1/6">
                <button class="rounded text-white bg-blue-500 w-full" id="chatMessageSend" type="button">Send</button>
            </div>
        </div>

    </div>
</div>


{{ opponent.tag|json_script:"roomName" }}
<script src="{% static 'js/chat-room.js' %}"></script>
{% endblock %}