{% extends 'base.html' %}
{% load static %}
{% block head %}
<script src="{% static 'public/js/splide.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'public/css/splide.min.css' %}">
<script>
    function setSplide(cnt){
        var elms = document.getElementsByClassName( 'splide' );
        var start = (Number(document.getElementById('load_next').getAttribute('data'))-1)*10;
        for (var i=start; i<start+cnt; i++){
            var splide = new Splide( elms[i] ).mount();
            if(splide.length<2){
                splide.options = {arrows:false};
            }
        }   
    }
    document.addEventListener( 'DOMContentLoaded', function() {
        setSplide({{posts|length}});
    });
</script>
{% endblock %}
{% block title %}- List{% endblock %}

{% block content %}
    <div class="rows">
    {% for post in posts %}
        <div class="row mt-3">
            <div class="col-md-2"></div>
            <div class="col-md-8 panel panel-default">
                <p>
                    <section class="splide" aria-label="Splide Basic HTML Example">
                        <div class="splide__track">
                                <ul class="splide__list">
                                    {% for photo in post.user_photos.all %}
                                    <li class="splide__slide">
                                        <img src="{{photo.photo.url}}" style="width:100%;">
                                    </li>
                                    {% endfor %}
                                </ul>
                        </div>
                      </section>
                </p>
                <p>
                    <a href="{% url 'photo:photo_list_user' user_tag=post.author.tag %}" class="btn btn-xs">
                        {{post.author.tag}}
                    </a>
                </p>
                <p>{{post.text|linebreaksbr}}</p>
                {% if post.bool_like %}
                    <a href="javascript:;" onclick="unlike_photo(this,'{{post.id}}')"><img src="{% static 'admin/img/icon-like.png' %}"></a>
                {% else %}
                    <a href="javascript:;" onclick="like_photo(this,'{{post.id}}')"><img src="{% static 'admin/img/icon-unlike.png' %}"></a>
                {% endif %}

                <span class="like_count">{{post.num_like}}</span>
                <p class="text-right">
                    <a href="{% url 'photo:photo_detail' pk=post.id %}" class="btn btn-xs">댓글달기</a>
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>

    {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-2"></div>
            <div class="col-md-8 panel panel-default">
                {% if posts %}
                <button class="btn btn-xs" id="load_next" data="1">Load Next</button>
                {% else %}
                <p>피드가 없습니다.</p>
                <p>다른 사람을 팔로우 해보세요!</p>
                {% endif %}
            </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
