{% extends 'base.html' %}

{% block title %}- List{% endblock %}

{% block content %}
{% load static %}
    <div class="profile p-3">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <img class="profile-pic" src="https://bulma.io/images/placeholders/128x128.png">
        </div>
        <div class="col-md-5">
            {{ this_user.get_username }}
            {% if user.get_username == this_user.get_username %}
            <a href="javascript:;" class="btn btn-xs btn-success">프로필변경</a>
            {% else %}

                {% if followed %}
                <form action="{% url 'photo:unfollowing' pk=followed.id %}" method="post">
                {% else %}
                <form action="{% url 'photo:following' user_id=this_user.get_username %}" method="post">
                {% endif %}
                    {% csrf_token %}
                    <input type="hidden" name="user" value="{{user.id}}">
                    <input type="hidden" name="follow" value="{{this_user.id}}">
                    <input type="hidden" name="followname" value="{{this_user.get_username}}">
                    {% if followed %}
                    <input type="submit" class="btn btn-primary" value="팔로우 취소">
                    {% else %}
                    <input type="submit" class="btn btn-primary" value="팔로우">
                    {% endif %}
                </form>
            {% endif %}
            </br>
            소개
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="rows">
        {% for post in photos %}
            <div class="row mt-3">
                <div class="col-md-2"></div>
                <div class="col-md-8 panel panel-default">
                    <p><img src="{{post.photo.url}}" style="width:100%;"></p>
                    <p>
                        <a href="{% url 'photo:photo_list_user' user_id=post.author.username %}" class="btn btn-xs">
                            {{post.author.username}}
                        </a>
                    </p>
                    <p>{{post.text|linebreaksbr}}</p>
                    {% if post.bool_like %}
                        <a href="javascript:;" onclick="unlike_photo(this,'{{post.id}}')"><img src="{% static 'admin/img/icon-like.png' %}"></a>
                    {% else %}
                        <a href="javascript:;" onclick="like_photo(this,'{{post.id}}')"><img src="{% static 'admin/img/icon-unlike.png' %}"></a>
                    {% endif %}

                    <span class="like_count">{{post.num_like}}</span>
                    <p class="text-right">
                        <a href="{% url 'photo:photo_detail' pk=post.id %}" class="btn btn-xs">댓글달기</a>
                    </p>
                </div>
                <div class="col-md-2"></div>
            </div>

        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 panel panel-default">
            <button class="btn btn-xs" id="load_next" data="1">Load Next</button>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
