<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 구글 세이프 브라우징 - 서치콘솔-->
    <meta name="google-site-verification" content="Uq-apxGh7J5OhLm3buvoqMearx2I83eTdExIIshiyKA" />

    {% load static %}
    <script>
        const like_img_url = "{% static 'images/icon_like.svg' %}";
        const unlike_img_url = "{% static 'images/icon_unlike.svg' %}";
    </script>
    <link rel="stylesheet" href="{% static 'css/splide.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'js/tailwind-3.1.1.js' %}"></script>
    <script src="{% static 'js/splide.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    
    {% block head %}
    {% endblock %}
    <title>Dstagram {% block title %}{% endblock %}</title>
    
</head>
<body class="bg-stone-50">

<div class="pr-0 pl-0">
    <header>
    <nav class="px-4 py-2 bg-white fixed top-0 left-0 right-0 border-b border-black z-50">
        <div class="flex flex-wrap items-center justify-between md:justify-around">
            <a href="/">
                <img class="h-14" src="{% static 'images/Dstagram_logo.png' %}" alt="Dstagram">
            </a>
            {% if user.is_authenticated %}
            <div class="relative hidden sm:block text-gray-500">
                <input id="searching_text" class="search-bar max-w-xs border rounded bg-gray-200 px-4
                        text-center outline-none focus:border-gray-400" type="search" placeholder="Search">
                <i class="fa fa-search absolute top-0 left-0 ml-12 mt-1"></i>
            </div>
            
            <div class="flex space-x-4 items-center justify-center">
                <a class="inline-block text-blue-500 font-semibold text-sm" href="{% url 'photo:photo_upload' %}">Upload</a>
                <a class="inline-block text-blue-500 font-semibold text-sm" href="{% url 'photo:photo_list_user' user_tag=user.tag%}">
                    <img class="w-10 h-10 object-cover rounded-full p-1" src="{{user.profile_pic.url}}">
                </a>
                <a class="inline-block text-blue-500 font-semibold text-sm" href="{% url 'accounts:logout' %}">Logout</a>
            </div>
            {% else %}
            <div class="flex space-x-4 items-center justify-center">
                <a class="inline-block bg-blue-500 px-2 py-1 text-white font-semibold text-sm rounded" 
                    href="{% url 'accounts:login' %}">Log In</a>
                <a class="inline-block text-blue-500 font-semibold text-sm"
                 href="{% url 'accounts:register' %}" class="nav-link">Sign up</a>
            </div>
            {% endif %}
        </div>
    </nav>
    </header>

    <!-- <li class="nav-item">
        <a href="javascript:;" class="navbar-item nav-link" style="width:57px" onclick="search_bar_toggle()">
            <img src="{% static 'admin/img/search_zoom_icon.png' %}">
        </a>
    </li> -->

    <!-- <div class="search_box">
        <ul id="search_list" class="list-group">
        </ul>
    </div> -->
    
    <div id="search-modal" tabindex="-1" aria-hidden="true" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center mt-10 hidden">
        <div class="relative p-4 w-full max-w-md h-full md:h-auto ">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                
                <!-- Modal body -->
                <div class="p-6 overflow-y-auto max-h-60">
                    <ul id="search_list" class="my-4 space-y-3">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="container" class="mt-[57px]">
        {% block content %}
        {% endblock %}
    </div>
    

    <footer class="footer">
        <p>&copy; Powered By Django</p>
    </footer>
</div>


</body>
</html>
